<tr id='<%= dom_id(staff) %>'>
   <td> </td>
   <td> <%= staff.name_reversed %> </td>
   <td> <%= staff.email %> </td>
   <td> <%= staff.phone_primary %> </td>
   <td> <%= staff.phone_secondary %> </td>
   <td> <%= staff.roles.join(', ') %> </td>
   <td> 
      <%= link_to "edit", edit_staff_path(staff) %> |
      <%= link_to "delete", staff, method: 'delete', remote: true, data: { confirm: "Really delete?" } %> 
   </td>
</tr>
