<div class='row'>
   <div class='span3 bg-gray-lighter'>
      <h3> Tenant Sign In </h3>
      <%= form_for :session, url: sessions_path do |f| %>
         <%= f.label :username %>
         <%= f.text_field :username %>

         <%= f.label :password %>
         <%= f.password_field :password %> <br />

         <%= f.hidden_field :tenant, value: 'tenant' %>

         <%= f.submit "Sign in", class: "btn btn-primary" %>
      <% end %>
   </div>

   <div class='span3 pull-right bg-gray-lighter'>
      <h3> Admin Sign In </h3>
      <%= form_for :session, url: sessions_path do |f| %>
         <%= f.label :username %>
         <%= f.text_field :username %>

         <%= f.label :password %>
         <%= f.password_field :password %> <br />

         <%= f.submit "Sign in", class: "btn btn-primary" %>
      <% end %>
   </div>

</div>
