<div class='row'>
   <div class='span3'>
      <%= form_for @user do |f| %>
         <%= render 'shared/error_messages', object: f.object %>

         <%= f.label "First Name" %>
         <%= f.text_field :fname %>

         <%= f.label "Last Name" %>
         <%= f.text_field :lname %>

         <%= f.label :username %>
         <%= f.text_field :username %>

         <%= f.label :password %>
         <%= f.password_field :password %> <br /> <br />

         <%= f.collection_check_boxes :roles, User::ROLES, :to_s, :humanize do |b| %>
            <%= b.label { b.check_box + b.text } %>
         <% end %> <br />

         <%= f.submit "Submit" %>
      <% end %>
   </div>
</div>
