= form_tag new_schedule_path, method: :get do
  = label_tag  :month, "Select month:"
  = select_tag :month, options_for_select(sch_form_month_options, params[:month])
  = label_tag :year, "Select year:"
  = select_tag :year, options_for_select([Time.now.year, Time.now.next_year.year], params[:year])
  = label_tag :interval_length, "Number of days between rotations:"
  = text_field_tag :interval_length, params[:interval_length] || ScheduleForm.default_interval_length
  %br= submit_tag "Submit", class: 'btn'
