= day_fields.fields_for time_shift do |time_shift_f|

   - time_shift_recs.each_with_index do |record, record_index|

      = time_shift_f.fields_for "shift-#{record_index}" do |shift_f|
         = shift_f.label :staff, record.shift.name
         = shift_f.collection_select :staff, guards, :id, :name, selected: record.staff_id, include_blank: true
         = shift_f.hidden_field :entry_id, value: record.id
