<div class='row'>
   <div class='span4'>
      <b> Day Shift </b>
   </div>

   <div class='span4'>
      <b> Night Shift </b>
   </div>
</div>

<%= form_for @schedule do |f| %>

   <%= f.hidden_field :year, value: @schedule.year %>
   <%= f.hidden_field :month, value: @schedule.month %>

   <%= f.fields_for :entries do |entries_f| %>

      <% @entries_grouped_by_day.each_with_index do |entries_for_day, day_index| %>

         <div class='bg-gray-lighter row-with-margin day-row'> <!-- Day Row -->

            <%= entries_f.fields_for "day-#{day_index}" do |dayf| %> <!-- Day Fields -->


               <div class='span4 day-shift'> <!-- Day Shift Column -->
                  <% time_shift_partial_assigns = { day_fields: dayf, 
                                                    guards: @guards, 
                                                    time_shift: :day_shift, 
                                                    time_shift_recs: day_shift_entries_for(entries_for_day) } %>

                  <%= render 'schedule_form_edit_time_shift', time_shift_partial_assigns %>
               </div> <!-- End Day Shift -->

               <div class='span4 night-shift'> <!-- Night Shift Column -->
                  <% time_shift_partial_assigns[:time_shift]      = :night_shift %>
                  <% time_shift_partial_assigns[:time_shift_recs] = night_shift_entries_for(entries_for_day) %>
                  <%= render 'schedule_form_edit_time_shift', time_shift_partial_assigns %>
               </div> <!-- End Night Shift -->

               <div class='span3 date'> <%= schedule_day_label(entries_for_day.first.date) %> </div>

            <% end %> <!-- End Day Fields -->

         </div> <!-- End Day Row -->

      <% end %> <!-- End @entries_grouped_by_day loop -->

   <% end %> <!-- End Entries Fields -->

   <%= f.submit "Submit" %>

<% end %>
