<div class='row'>
   <div class='span5'>
      <%= form_tag new_schedule_path, method: :get do %>
         <%= label_tag  :month, "Select month" %>
         <%= select_tag :month, options_for_select(Schedule.unscheduled_months.map { |m| [m, m] }, params[:month]) %>
         <%= label_tag :interval_length, "Days between rotation" %>
         <%= text_field_tag :interval_length, params[:interval_length] %>
         <%= submit_tag "Submit" %>
      <% end %>
   </div>
</div>

<% unless params[:month].blank? %>
   <div class='row'>
      <div class='span12'>
         <%= form_for :schedule, url: schedules_path  do |f| %>
            <%= f.hidden_field :month, value: @schedule_form.month %>
            <% c = 1 %>
            <% @intervals.each do |i| %>

               <div class='row-with-margin'>
                  <div class="bg-gray-lighter">
                  <%= f.fields_for "interval" + c.to_s do |intf| %>
                     <% @shifts.each do |s| %>
                        <%= intf.fields_for "shift-" + s.name do |sf| %>
                           <h4> <%= s.name %> </h4>
                           <%= sf.select :staff, @guards.map { |g| [g.name, g.id] } %>
                           <%= sf.hidden_field :shift, value: s.id %>
                           <%= sf.hidden_field :dates, value: i.dates.join(",") %>
                        <% end %>
                     <% end %>
                  <% end %>
                  <br /><%= i.range_text %>
                  </div>
               </div>

               <% c += 1 %>
            <% end %>

            <%= f.submit "Submit" %>
         <% end %>
      </div>
   </div>
<% end %>
