<div class='row'>
   <div class='span5'>
      <%= form_tag new_schedule_path, method: :get do %>
         <%= label_tag  :month, "Select month:" %>
         <%= select_tag :month, options_for_select(Schedule.unscheduled_months.map { |m| [m, m] }, params[:month]) %>
         <%= label_tag :year, "Select year:" %>
         <%= select_tag :year, options_for_select([Time.now.year, Time.now.next_year.year]) %>
         <%= label_tag :interval_length, "Number of days between rotation:" %>
         <%= text_field_tag :interval_length, params[:interval_length] || ScheduleForm.default_interval_length %>
         <%= submit_tag "Submit" %>
      <% end %>
   </div>
</div>

<% unless params[:month].blank? %>
   <div class='row'>
      <div class='span12'>
         <div id="schedule-form">
            <%= form_for :schedule, url: schedules_path  do |f| %>

               <%= f.hidden_field :month, value: @schedule_form.month %>
               <%= f.hidden_field :year, value: @schedule_form.year %>

               <%= f.fields_for :entries do |e| %>
                  <% c = 1 %>
                  <% @intervals.each do |i| %>

                     <div class='row-with-margin'>
                        <div class="bg-gray-lighter">
                        <%= e.fields_for "interval" + c.to_s do |intf| %>

                           <div class='row'> <!-- Day Shift Row -->
                              <%= intf.fields_for :day_shift do |dsf| %>
                                 <% @shifts.each do |shift| %>

                                    <div class='span3'> <!-- Individual shift column -->
                                    <%= dsf.fields_for "shift-" + shift.name do |sf| %>

                                       <b> <%= shift.name %> </b>
                                       <%= sf.select :staff, @guards.map { |g| [g.name, g.id] }, include_blank: true %>
                                       <%= sf.hidden_field :shift, value: shift.id %>
                                       <%= sf.hidden_field :dates, value: i.dates.join(",") %>
                                       <%= sf.hidden_field :day_or_night, value: 'day' %>
                                    <% end %>
                                    </div> <!-- End shift column -->

                                 <% end %>
                              <% end %>
                           </div> <!-- End Day Shift Row -->

                           <div class='row'> <!-- Night Shift Row -->
                              <%= intf.fields_for :night_shift do |nsf| %>
                                 <% @shifts.each do |shift| %>

                                    <div class='span3'> <!-- Individual shift column -->
                                    <%= nsf.fields_for "shift-" + shift.name do |sf| %>

                                       <b> <%= shift.name %> </b>
                                       <%= sf.select :staff, @guards.map { |g| [g.name, g.id] }, include_blank: true %>
                                       <%= sf.hidden_field :shift, value: shift.id %>
                                       <%= sf.hidden_field :dates, value: i.dates.join(",") %>
                                       <%= sf.hidden_field :day_or_night, value: 'night' %>
                                    <% end %>
                                    </div> <!-- End shift column -->

                                 <% end %>
                              <% end %>
                           </div> <!-- End Night Shift Row -->

                        <% end %>
                        <br />
                        <span class='interval-range-text'><%= i.range_text %></span>
                        </div>
                     </div>

                     <% c += 1 %>
                  <% end %>

               <% end %>

               <%= f.submit "Submit Schedule", class: 'btn btn-primary' %>
            <% end %> <!-- End Schedule Form. -->
         </div>
      </div>
   </div>
<% end %>
