<div class='row'>
   <div class='span5'>
      <%= render 'meta_data_form' %>
   </div>
   <div class='span5'>
   </div>
</div>

<% unless params[:month].blank? %>
   <div id="schedule-form">

      <div class='row'>
         <div class='span4'> <h3>Day Shift</h3> </div>
         <div class='span4'> <h3>Night Shift</h3> </div>
      </div>

      <%= form_for :schedule, url: schedules_path  do |f| %>

         <%= f.hidden_field :month, value: @schedule_form.month %>
         <%= f.hidden_field :year, value: @schedule_form.year %>
         <%= f.hidden_field :interval_length, value: @schedule_form.interval_length %>

         <%= f.fields_for :entries do |e| %>

            <% @rotation.each_with_index do |i, c| %>

               <div class='row-with-margin bg-gray-lighter'> <!-- Interval Row -->
                  <%= e.fields_for "interval" + c.to_s do |intf| %>

                     <% time_shift_partial_assigns = { interval_fields: intf, interval: i, time_shift: :day_shift, shifts: @shifts, guards: @guards } %>

                     <div class='span4'> <!-- Day Shift Col -->
                        <%= render 'schedule_form_time_shift', time_shift_partial_assigns %> 
                     </div> <!-- End Day Shift Col -->

                     <div class='span4'> <!-- Night Shift Col -->
                        <% time_shift_partial_assigns[:time_shift] = :night_shift %>
                        <%= render 'schedule_form_time_shift', time_shift_partial_assigns %>
                     </div> <!-- End Night Shift Col -->

                  <% end %>

                  <span class='span3 interval-range-text'><%= i.range_text %> </span>
               </div> <!-- End Interval Row -->

            <% end %>

         <% end %>

         <%= f.submit "Submit Schedule", class: 'btn btn-primary' %>
      <% end %> <!-- End Schedule Form. -->
   </div>
<% end %>
