<%= form_for :foo, url: temp_schedules_path do |f| %>
   <% @days.each_with_index do |day, day_index| %>

      <%= f.fields_for "day-#{day_index}" do |dayf| %>

         <% day_shift = day.select { |e| e.day_or_night == 'day' }.sort %>
         <% night_shift = day.select { |e| e.day_or_night == 'night' }.sort %>

         <div class='bg-gray-lighter row-with-margin'>

            <div class='span5'>
               <b> Day Shift </b>
               <%= dayf.fields_for :day_shift do |day_shift_f| %>

                  <% day_shift.each_with_index do |ds, ds_index| %>

                     <%= day_shift_f.fields_for "shift-#{ds_index}" do |shift_f| %>
                        <%= shift_f.label :staff, ds.shift.name %>
                        <%= shift_f.collection_select :staff, @guards, :id, :name, selected: ds.staff_id %>
                        <%= shift_f.hidden_field :entry_id, value: ds.id %>
                     <% end %>

                  <% end %>

               <% end %>
            </div>

            <div class='span5'>
               <b> Night Shift </b>
               <%= dayf.fields_for :night_shift do |night_shift_f| %>

                  <% night_shift.each_with_index do |ns, ns_index| %>

                     <%= night_shift_f.fields_for "shift-#{ns_index}" do |shift_f| %>
                        <%= shift_f.label :staff, ns.shift.name %>
                        <%= shift_f.collection_select :staff, @guards, :id, :name, selected: ns.staff_id %>
                        <%= shift_f.hidden_field :entry_id, value: ns.id %>
                     <% end %>

                  <% end %>

               <% end %>
         </div>

         </div>

      <% end %>


   <% end %>

<% end %>
