<% provide(:title, "Ticket Index") %>

<%= search_form_for @search, id: 'search-form' do |f| %>
   <%= f.condition_fields do |c| %>
      <%= render 'search_condition_fields', f: c %>
   <% end %>

   <%= link_to_add_search_conditions("Add Conditions", f, :condition) %>
   <br />
   <br />
   <%= f.submit "Filter", class: 'btn' %>
<% end %>

<h3> Tickets </h3>
<%= render 'tickets/tickets', tickets: @tickets, show_apt_num: true %>
