<div class='bg-gray-lighter'>
   <h3 class='text-center'> Create a new apartment </h3>
   <%= form_for apartment do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :number %>
      <%= f.text_field :number %> <br /><br />

      <h4>Account information for this apartment</h4>

      <%= f.label :username %>
      <%= f.text_field :username %> <br /><br />

      <%= f.label :password %>
      <%= f.password_field :password %> <br /><br />

      <h4>Status Information</h4>

      <%= f.fields_for :status do |s| %>
         Occupied?
         <% #s.label "Occupied?" %> 
         <%= s.check_box :occupied %> <br /><br />

         <%= status_start_date_label(apartment, s) %>
         <%= s.text_field :status_start_date %> <br />

         <%= s.label :comment %>
         <%= s.text_area :comment %> <br />

      <% end %>

      <%= f.submit "Submit", class: 'btn btn-primary' %>

   <% end %>
</div>
