<div class='bg-gray-lighter'>
   <h3 class='text-center'> Create a new apartment </h3>
   <%= simple_form_for apartment, html: { class: 'form-horizontal' } do |f| %>

      <%= f.input :number %> <br />

      <h4>Account information for this apartment</h4>

      <%= f.input :username %> <br />

      <%= f.input :password, required: false %> <br />
      <%= f.input :password_confirmation, required: false %> <br />

      <h4>Status Information</h4>

      <%= f.fields_for :status do |s| %>
         <label class='checkbox'>
            <%= s.input :occupied, label: false %> Occupied?
         </label> <br />

         <%= status_start_date_label(apartment, s) %>
         <%= s.input :status_start_date, label: false, as: :string %> <br />

         <%= s.input :comment %> <br />
      <% end %>

      <%= f.error :base %>
      <%= f.submit "Create", class: 'btn btn-primary' %>

   <% end %>
</div>
