<div class='bg-gray-lighter'>
   <h3 class='text-center'> <%= title %> </h3>
   <%= simple_form_for apartment, html: { class: 'form-horizontal' } do |f| %>

      <%= f.input :number %>
      <%= f.input :password, required: false %>
      <%= f.input :password_confirmation, required: false %>

      <h4>Status Information</h4>

      <%= f.fields_for :status do |s| %>
         <label class='checkbox'>
            <%= s.input :occupied, label: false %> Occupied?
         </label> <br />
         <%= status_start_date_label(apartment, s) %>
         <%= s.input :status_start_date, label: false, as: :string %>
         <%= s.input :comment %>
      <% end %>

      <%= f.submit "Submit", class: 'btn btn-primary' %>

   <% end %>
</div>
