<tr>
   <td> </td>
   <td> <%= apartment.number %> </td>
   <td> <%= apartment.occupied ? "Occupied" : "Vacant" %> </td>
   <td> <%= apartment.status_start_date %> </td>
   <td> <%= truncate(apartment.comment, length: 65, separator: ' ') %> </td>
   <td> <%= link_to "edit", edit_apartment_path(apartment) %> </td>
</tr>
