<% provide(:title, "Apartment Status") %>

<div class='row'>

   <div class='span2'>
      <%= apartment_label(@apartment) %>
   </div>

   <div class='span4 pull-right'>
      <%= render 'status_box', apartment: @apartment %>
   </div>
</div>


<div class='row-with-margin'>
    <!-- Column 1 -->
   <div class='span4'>
      <h3> Tenants </h3>
      <div class="accordion-heading">
         <a class="accordion-toggle" data-toggle="collapse" href="#new-tenant-form-accordion">
            Add new tenant
         </a>
      </div>
      <ul id='tenants'>
         <%= render partial: 'tenant', collection: @tenants, locals: { apartment: @apartment } %>
      </ul>
   </div> <!-- End Column 1 -->

    <!-- Column 2 -->
   <div class='span5'>
      <div id="new-tenant-form-accordion" class="accordion-body collapse">
         <div class="accordion-inner">
            <span id='tenant-form-message'></span>
            <div id='tenant-form'>
               <%= tenant_form(@apartment, Tenant.new, remote: true) %>
            </div>
         </div>
      </div>
   </div> <!-- End Column 2 -->
</div>


<div class='row-with-margin'>
   <div class='span12'>
      <h3> Tickets </h3>
      <%= render 'tickets/tickets', tickets: @tickets %>
   </div>
</div>
