<div class='row'>
   <div class='bg-gray-lighter span4'>
      <p> <%= @apartment.number %> </p>
      <p> <%= @status %> since: <%= @apartment.status_start_date %> </p> 
      <p> <%= @apartment.comment %> </p>
      <p> <%= link_to "Edit", edit_apartment_path(@apartment) %>
   </div>
</div>
