<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= include_gon(watch: true) %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag params[:controller] + "/shared" %>
  <%= javascript_include_tag params[:controller] + "/" + params[:action] %>
  <%= csrf_meta_tags %>
  <!-- IE 8 and lower do not support HTML5 (which Rails uses by default), so below if
       statement is necessary. -->

  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
   <%= render 'layouts/header' %>
   <div class='container'>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
   </div>
</body>
</html>
